In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [4]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            School Name      Type  Size   Budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
School Name    15
Type           15
Size           15
Budget         15
dtype: int64

In [7]:
# Determine if there are any missing values in the student data.
student_data_df.count()

Student ID       39170
Student Name     39170
Gender           39170
Grade            39170
School Name      39170
Reading Score    39170
Math Score       39170
dtype: int64

In [8]:
# Determine if there are any missing values in the school data.
school_data_df.isnull()

    School ID  School Name   Type   Size  Budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [10]:
# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

Student ID       0
Student Name     0
Gender           0
Grade            0
School Name      0
Reading Score    0
Math Score       0
dtype: int64

In [12]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull().sum()

School ID      15
School Name    15
Type           15
Size           15
Budget         15
dtype: int64

In [13]:
# Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

Student ID       39170
Student Name     39170
Gender           39170
Grade            39170
School Name      39170
Reading Score    39170
Math Score       39170
dtype: int64

In [14]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

School ID       int64
School Name    object
Type           object
Size            int64
Budget          int64
dtype: object

In [18]:
school_data_df.Budget.dtype

dtype('int64')

In [19]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
Student Name     object
Gender           object
Grade            object
School Name      object
Reading Score     int64
Math Score        int64
dtype: object

In [20]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [21]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["Student Name"] = student_data_df["Student Name"].str.replace(word,"")

/Users/jeordie/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
student_data_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84